* {
    margin: 0;
    padding: 0;
    font-family: Agdasima;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(16,16,16);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.head {
    font-size: 3rem;
    color: white;
    margin: 3rem 0;
}

.pwInp {
    width: 80%;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border: none;
    font-size: 1.2rem;
    outline: none;
    padding: 0.3rem;
    border-bottom: 1px solid white;
    margin-top: 3rem;
}

.confPw {
    width: calc(80%);
    background-color: white;
    color: rgb(16,16,16);
    text-align: center;
    padding: 0.3rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    opacity: 0.5;
}

.selectDestination {
    appearance: none;
    background-color: transparent;
    width: calc(80%);
    color: white;
    font-size: 1.2rem;
    outline: none;
    padding: 0.3rem;
    margin-top: 2rem;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
}