* {
    padding: 0;
    margin: 0;
    font-family: Agdasima;
}

body {
    background-color: rgb(16,16,16);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.time {
    height: calc(0.8 * 18vh);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: calc(4 * 8vh + 3rem);
    margin-top: 2vh;
} /* width 6vh */

.digit {
    width: 8vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    background-color: white;
    border-radius: 10px;
    color: rgb(16,16,16);
}

.colon {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1200;
    font-size: 2rem;
    color: white;
}

.container {
    width: 90%;
    height: 60%;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.teamC {
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.tp_info {
    background-color: white;
    border-radius: 10px;
    color: rgb(16,16,16);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
}

.tp_info:first-of-type {
    width: 76%;
}

.tp_info:last-of-type {
    width: 20%;
}

.name_points {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2vh;
}

.teamBtn {
    width: 100%;
    height: 35%;
    color: rgb(16,16,16);
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    cursor: pointer;
}

.field {
    margin-top: 1vh;
    font-size: 2rem;
    color: rgb(100, 100, 100);
}

.waitScreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100000000;
    background-color: rgb(16,16,16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fieldSelectScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.selectField {
    width: 40%;
    appearance: none;
    background-color: rgb(16,16,16);
    outline: none;
    border: none;
    padding: 0.2rem 0.5rem;
    font-size: 2rem;
    color: white;
}

.eventTitle {
    display: none;
    font-size: 4rem;
    color: white;
}